@font-face {
  font-family: "raleway-medium";
  src: url(./Raleway/static/Raleway-Medium.ttf);
}
@font-face {
  font-family: "raleway-light";
  src: url(./Raleway/static/Raleway-Light.ttf);
}
@font-face {
  font-family: "raleway-semibold";
  src: url(./Raleway/static/Raleway-SemiBold.ttf);
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
#conteneur-principal {
  max-width: 1440px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
body h1 {
  font-family: "raleway-semibold", arial, sans-serif;
  font-size: x-large;
}
body h2 {
  font-family: "raleway-semibold", arial, sans-serif;
  font-size: large;
}
body h3 {
  font-family: "raleway-light", arial, sans-serif;
}
body a {
  font-family: "raleway-medium", arial, sans-serif;
  text-decoration: none;
  font-size: large;
  color: unset;
}
body ul {
  list-style-type: none;
  padding: 0;
}
header img {
  width: 90px;
  height: auto;
}
header {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
header nav a {
  color: #0065fc;
}
header nav a:hover {
  transform: scale(1.3);
  transition: 0.5s;
  border-top: #0065fc;
}
h2 {
  font-size: small;
}
#banniere-recherche {
  width: 100%;
}
#bouton-recherche {
  background-color: transparent;
  width: 330px;
  display: flex;
  flex-direction: row;
  padding: 10px 3px;
}
#bouton-recherche i {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  width: 5%;
}
#chercher {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding: 10px 3px;
  border-color: #f2f2f2;
  border-width: thin;
  border-style: solid;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  font-family: "raleway-semibold", arial, sans-serif;
}
#bouton-recherche button {
  background-color: #0065fc;
  color: ivory;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
  font-family: "raleway-semibold", arial, sans-serif;
}
#banniere-filtre {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#filtres {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#bouton-filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "raleway-semibold", arial, sans-serif;
}
#bouton-filtres ul {
  width: 80%;
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#bouton-filtres li {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  padding-right: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  border-left-color: #deebff;
  font-weight: bold;
  cursor: pointer;
}
#bouton-filtres li:hover {
  background-color: #deebff;
  border-color: #deebff;
  transition: 0.7s;
  transform: scale(1.2);
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  width: 45px;
  padding: 16px 0px 15px 0px;
  margin-right: 15px;
  border-radius: 50%;
}
#dispo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-info {
  color: #0065fc;
  background-color: white;
  font-size: small;
  padding: 4px 6px;
  margin-right: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
#banniere-hebergements {
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#hebergements {
  width: 63%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
}
#hebergements h2 {
  padding-left: 20px;
  font-size: x-large;
}
#hebergements ul {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.carte-hebergements {
  list-style-type: none;
  background-color: white;
  width: 29%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  cursor: pointer;
}
#hebergements li:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 0px 5px 5px #deebff;
}
#hebergements li img {
  width: 100%;
  height: 115px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  margin: auto;
}
#hebergements li h2 {
  margin: 0px 10px 8px;
  font-size: medium;
  font-weight: bolder;
  padding-left: 0;
}
#hebergements li h3 {
  margin: 0px 10px 8px;
  font-size: medium;
  font-weight: bolder;
}
.notes {
  display: flex;
  margin: 0px 10px 8px;
  font-size: medium;
}
.notes-bleu {
  color: #0065fc;
}
.notes-grise {
  color: #f2f2f2;
}
#plus {
  padding-left: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
#plus a:hover {
  color: #0065fc;
  transition-duration: 0.6s;
  font-size: x-large;
}
aside {
  background-color: #f2f2f2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#populaire {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  font-weight: bold;
  font-size: x-large;
  text-align: justify;
}
#populaire h2 {
  font-size: x-large;
}
#bloc-populaire{
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.carte-populaire a {
  background-color: white;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 34.5px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#bloc-populaire img {
  width: 40%;
  height: 130px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  text-align: left;
}
.article-populaire {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.article-populaire h2 {
  margin: 2px 0px 8px;
  padding-left: 10px;
  font-size: large;
  font-weight: bolder;
  font-style: normal;
}
.article-populaire h3 {
  margin: 0px 0px 8px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: medium;
}
.carte-populaire a:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 0px 5px 5px #deebff;
}
#banniere-activites {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
#banniere-activites h2 {
  font-size: x-large;
}
#activites {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
#activites h2 {
  margin-left: 15px;
  font-size: medium;
}
.carte-activites {
  width: 23%;
  border-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

.carte-activites:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
.colonne-activites:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
.colonne {
  width: 23%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.colonne-activites {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.vieux-port img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.pomegues {
  width: 100%;
  height: 50%;
  display: flex;
}
.pomegues img {
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.frioul {
  height: 40%;
}
.frioul img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.calanques img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.la-garde {
  width: 100%;
  height: 46%;
}
.la-garde img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.longchamp {
  width: 100%;
  height: 46%;
}
.longchamp img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
footer {
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 50px;
}
#banniere-footer {
  display: flex;
  justify-content: space-around;
}
footer ul {
  width: auto;
  list-style-type: none;
  padding-left: 0px;
}
footer li {
  padding-bottom: 20px;
}
footer a {
  font-family: "raleway-light", arial, sans-serif;
  cursor: pointer;
}
footer a:hover {
  color: #0065fc;
}
.infos-site {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  list-style-type: none;
  text-align: left;
  font-family: "raleway-semibold", arial, sans-serif;
}
@media screen and (max-width: 970px) {
  #conteneur-principal {
    max-width: 970px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .menu {
    width: auto;
    display: flex;
    justify-content: space-around;
  }
  #conteneur-principal {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px 10px 10px 10px;
  }
  #banniere-recherche {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #filtres {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bouton-filtres {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bouton-filtres ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #banniere-hebergements {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  aside {
    width: 100%;
  }
  #hebergements {
    margin-top: 20px;
    width: 100%;
  }
  .carte-hebergements {
    width: 45%;
  }
  #banniere-footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  #conteneur-principal {
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  header {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .inscription {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  #banniere-recherche {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
  }
  #bouton-recherche {
    width: 100%;
  }
  #filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #bouton-filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #bouton-filtres ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  #banniere-hebergements {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #populaire{
    width: 90%;
  }
  #bloc-populaire{
    width: 90%;
  }
  #hebergements {
    margin-top: 20px;
    width: 100%;
    background-color: unset;
    display: flex;
    flex-direction: column;
  }
  .carte-hebergements {
    width: 100%;
  }
  #banniere-activites {
    margin-top: 0px;
  }
  #activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .carte-activites {
    width: 100%;
  }
  .colonne {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #banniere-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
}
