@font-face {
  font-family: "raleway-medium";
  src: url(./Raleway/static/Raleway-Medium.ttf);
}
@font-face {
  font-family: "raleway-light";
  src: url(./Raleway/static/Raleway-Light.ttf);
}
@font-face {
  font-family: "raleway-semibold";
  src: url(./Raleway/static/Raleway-SemiBold.ttf);
}
body {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#conteneur-principal {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}
body h1 {
  font-family: "raleway-semibold", arial, sans-serif;
  font-size: x-large;
}
body h2 {
  font-family: "raleway-semibold", arial, sans-serif;
  font-size: large;
}
body h3 {
  font-family: "raleway-light", arial, sans-serif;
}
body a {
  font-family: "raleway-medium", arial, sans-serif;
  text-decoration: none;
  font-size: large;
  color: unset;
}
body ul {
  list-style-type: none;
  padding: 0;
}
header img {
  width: 90px;
}
header {
  width: auto;
  height: 99px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 36%;
  height: 99px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font: medium;
}
header nav a:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.nav-hebergements{
  height: 99px;
  width: 100%;
  border-top: 1px #0065fc solid;
  color: #0065fc;
  font-family: "raleway-light", arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-activitees{
  width: 100%;
  font-family: "raleway-light", arial, sans-serif;
}
.inscription {
  color: #0065fc;
  font-weight: bolder;
}
h2 {
  font-size: small;
}
#banniere-recherche {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#bouton-recherche {
  background-color: transparent;
  width: 330px;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}
::placeholder{
  color: black;
  opacity: 1;
}
.fa-map-marker-alt {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  width: 5%;
}
#chercher {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding: 10px 3px;
  border-color: #f2f2f2;
  border-width: thin;
  border-style: solid;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  font-family: "raleway-semibold", arial, sans-serif;
}
#bouton-recherche button {
  background-color: #0065fc;
  color: ivory;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
  font-family: "raleway-semibold", arial, sans-serif;
}
.mobile-bouton{
  display: none;
}
#banniere-filtre {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#filtres {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#bouton-filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "raleway-semibold", arial, sans-serif;
}
#bouton-filtres ul {
  width: 60%;
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#bouton-filtres li {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  padding-right: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  border-left-color: #deebff;
  font-weight: bold;
  cursor: pointer;
}
#bouton-filtres li:hover {
  background-color: #deebff;
  transition: 0.7s;
  transform: scale(1.1);
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  width: 45px;
  padding: 16px 0px 15px 0px;
  margin-right: 10px;
  border-radius: 50%;
}
#dispo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-info {
  color: #0065fc;
  background-color: white;
  font-size: small;
  padding: 4px 6px;
  margin-right: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
#banniere-hebergements {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#hebergements {
  width: 63%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
}
#hebergements h2 {
  padding-left: 20px;
  font-size: x-large;
}
#hebergements ul {
  width: 100%; 
  height: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.carte-hebergements {
  list-style-type: none;
  background-color: white;
  width: 29%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  cursor: pointer;
}
#hebergements li:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 0px 5px 5px #deebff;
}
#hebergements li img {
  width: 100%;
  height: 115px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  margin: auto;
}
#hebergements li h2 {
  margin: 0px 10px 8px;
  font-size: medium;
  font-weight: bolder;
  padding-left: 0;
}
#hebergements li h3 {
  margin: 0px 10px 8px;
  font-size: medium;
  font-weight: bolder;
}
.notes {
  display: flex;
  margin: 0px 10px 8px;
  font-size: medium;
}
.notes-bleu {
  color: #0065fc;
}
.notes-grise {
  color: #f2f2f2;
}
#plus {
  padding-left: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
#plus a:hover {
  color: #0065fc;
  transition-duration: 0.6s;
  font-size: x-large;
}
aside {
  width: 35%;
  background-color: #f2f2f2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#populaire {
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
  text-align: justify;
}
#populaire h2 {
  font-size: x-large;
}
#bloc-populaire{
  width: 92%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.carte-populaire a {
  background-color: white;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 34.5px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#bloc-populaire img {
  width: 40%;
  height: 130px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  text-align: left;
}
.article-populaire {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.article-populaire h2 {
  margin: 2px 0px 8px;
  padding-left: 10px;
  font-size: large;
  font-weight: bolder;
  font-style: normal;
}
.article-populaire h3 {
  margin: 0px 0px 8px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: medium;
}
.carte-populaire a:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 0px 5px 5px #deebff;
}
#banniere-activites {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
#banniere-activites h2{
  font-size: x-large;
}
#activites {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
#activites h2 {
  margin-left: 15px;
  font-size: medium;
}
.carte-activite  {
  width: 23%;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
}
.carte-activite a {
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: column;
}
.mobile-img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.carte-activite:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
.colonne {
  width: 23%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.colonne-activite {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.colonne-activite:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
.pomegues img {
  width: 100%;
  height: 81%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.pomegues {
  height: 50%;
}
.pomegues a {
  height: 97%;
  display: flex;
  flex-direction: column;
}
.frioul img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.frioul {
  height: 36%;
}
.frioul a {
  height: 95%;
  display: flex;
  flex-direction: column;
}
.la-garde img {
  width: 100%;
  height: 77%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.la-garde {
  height: 45%;
}
.la-garde a{
  height: 98%;
  display: flex;
  flex-direction: column;
}
.longchamp img {
  width: 100%;
  height: 79%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.longchamp {
  height: 45%;
}
.longchamp a{
  height: 93%;
  display: flex;
  flex-direction: column;
}
footer {
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 50px;
}
#banniere-footer {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
footer ul {
  width: auto;
  list-style-type: none;
  padding-left: 0px;
}
footer li {
  padding-bottom: 20px;
}
footer a {
  font-family: "raleway-light", arial, sans-serif;
  cursor: pointer;
}
footer a:hover {
  color: #0065fc;
}
.infos-site {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  list-style-type: none;
  text-align: left;
  font-family: "raleway-semibold", arial, sans-serif;
}
@media screen and (max-width: 900px) {
  body{
    max-width: 900px;
    align-items: stretch;
  }
  #conteneur-principal {
    padding-left: 10px;
    padding-right: 10px;
  }
  header nav {
    width: 100%;
    justify-content: flex-end;
    justify-content: space-around;
  }
  #banniere-recherche {
    align-items: center;
  }
  #bouton-recherche button {
    width: 15%;
    border-radius: 15px;
    position: relative;
    right: 15px;
  }
  .desktop-bouton{
    display: none;
  }
  .mobile-bouton{
    display: inline;
  }
  #filtres {
    align-items: center;
  }
  #bouton-filtres {
    width: 100%;
    flex-direction: column;
  }
  #bouton-filtres ul {
    width: 100%;
    padding: 0;
  }
  #banniere-hebergements {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  aside {
    width: 100%;
  }
  #hebergements {
    margin-top: 20px;
    width: 100%;
  }
  .carte-hebergements {
    width: 45%;
  }
  #banniere-footer {
    width: 100%;
    justify-content: center;
  }
  #bouton-filtres li:hover {
    transform: none;
  }
  #hebergements li:hover {
    transform: scale(1.02)
  }
  .carte-populaire a:hover {
    transform: scale(1.02)
  }
  .carte-activite:hover {
    transform: scale(1.02)
  }
  .colonne-activite:hover {
    transform: scale(1.02);
  }
}
@media screen and (max-width: 550px) {
  body{
    max-width: 550px;
  }
  #conteneur-principal {
    padding: 0px;
  }
  #conteneur-principal h1 {
    font-family: "raleway-semibold", arial, sans-serif;
    font-size: x-large;
  }
  #conteneur-principal h2 {
    font-family: "raleway-semibold", arial, sans-serif;
    font-size: large;
  }
  body h3 {
    font-family: "raleway-light", arial, sans-serif;
    font-size: medium;
  }
  header {
    width: 90%;
    padding-bottom: 20px;
    margin: auto;
    flex-direction: column;
  }
  header nav {
    justify-content: space-between;
  }
  header nav a:hover {
    transform: none;
  }
  header img {
    position: absolute;
    left: 10px;
    top: 20px;
  }
  .nav-hebergements{
    width: 50%;
    height: 40px;
    border-bottom: 1px #0065fc solid;
    border-top: hidden;
    position: absolute;
    left: 0px;
    top: 80px;
  }
  .nav-activitees{
    width: 50%;
    height: 40px;
    border-bottom: 1px #f2f2f2 solid;
    font-family: "raleway-light", arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
  }
  .inscription {
    position: absolute;
    top: 34px;
    right: 25px;
  }
  #banniere-recherche {
    margin-top: 20px;
    align-items: flex-start;
  }
  #banniere-recherche H1,H3 {
    width: 85%;
    margin-right: auto;
    margin-left: 15px;
  }
  #bouton-recherche {
    width: 95%;
    margin: auto;
  }
  #filtres {
    width: 90%;
    align-items: flex-start;
    margin: auto;
  }
  #bouton-filtres {
    align-items: flex-start;
  }
  #bouton-filtres ul {
    width: 98%;
    align-items: flex-start;
  }
  #dispo {
    align-items: flex-start;
  }
  .fa-info {
    margin: 0px 0px;
  }
  aside {
    border-radius: 0px;
    padding-top: 20px;
  }
  #populaire{
    width: 91%;
  }
  #bloc-populaire{
    width: 91%;
  }
  .carte-populaire a {
    margin-bottom: 10px;
  }
  #hebergements {
    margin-top: 20px;
    width: 100%;
    background-color: unset;
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
  #hebergements h2 {
    width: 90%;
    padding: 0;
    margin-right:auto ;
    margin-left: auto;
  }
  #hebergements ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  #hebergements li h3 {
    margin: 0px 10px 8px;
  }
  .carte-hebergements {
    width: 89%;
    margin-bottom: 0;
  }
  #plus {
    margin-top: 20px;
  }
  #banniere-activites {
    width: 100%;
    margin-top: 0;
  }
  #banniere-activites h2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #activites {
    flex-direction: column;
    align-items: center;
  }
  #activites h2{
    font-size: large;
    padding: 0;
  }
  .mobile-activite {
    width: 90%;
    height: 190px;
    margin-bottom: 20px;
  }
  .mobile-img {
    height: 75%;
  }
  .colonne img {
    height: 75%;
  }
  .colonne {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .colonne-activite {
    width: 90%;
  }
  #banniere-footer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  footer ul {
    width: 100%;
    list-style-type: none;
  }
  .infos-site {
    width: 90%;
    margin: auto;
  }
}
