@font-face {
<<<<<<< HEAD
  font-family: "raleway-medium";
  src: url(./Raleway/static/Raleway-Medium.ttf);
}
@font-face {
  font-family: "raleway-light";
  src: url(./Raleway/static/Raleway-Light.ttf);
}
@font-face {
  font-family: "raleway-semibold";
=======
  font-family: "raleway";
  src: url(./Raleway/Raleway-VariableFont_wght.ttf);
  src: url(./Raleway/static/Raleway-Medium.ttf);
  src: url(./Raleway/static/Raleway-Thin.ttf);
>>>>>>> main
  src: url(./Raleway/static/Raleway-SemiBold.ttf);
}
body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  margin: 0;
=======
>>>>>>> main
}
#conteneur-principal{
  max-width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
body h1 {
<<<<<<< HEAD
  font-family: "raleway-semibold", arial, sans-serif;
  font-size: x-large;
}
body h2 {
  font-family: "raleway-semibold", arial, sans-serif;
  font-size: large;
}
body h3 {
  font-family: "raleway-light", arial, sans-serif;
=======
  font-family: "Raleway", arial, sans-serif;
  font-size: x-large;
}
body h2 {
  font-family: "Raleway-ExtraLight";
}
body h3 {
  font-family: "Raleway-Thin", arial, sans-serif;
  font-weight: lighter;
>>>>>>> main
}
body a {
  font-family: "raleway-medium", arial, sans-serif;
  text-decoration: none;
  font-size: large;
  color: unset;
}
header img {
  width: 90px;
  height: auto;
}
header {
  width: auto;
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
}
<<<<<<< Updated upstream
header nav {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
=======
header nav ul {
    list-style-type: none;
    color:  #0065FC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
}
header nav li {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding-right: 70px;
>>>>>>> Stashed changes
}
header nav a {
<<<<<<< HEAD
=======
  font-family: "Raleway";
>>>>>>> main
  color: #0065fc;
}
header nav a:hover {
  transform: scale(1.3);
  transition: 0.5s;
  border-top: #0065fc;
}
h2 {
  font-size: small;
}
#banniere-recherche{
  width: 100%;
}
#bouton-recherche {
  background-color: transparent;
  width: 330px;
  display: flex;
  flex-direction: row;
  padding: 10px 3px;
}
#bouton-recherche i {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  width: 5%;
}
#chercher {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding: 10px 3px;
  border-color: #f2f2f2;
  border-width: thin;
  border-style: solid;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  font-family: "raleway-semibold", arial, sans-serif;

}
#bouton-recherche button {
  background-color: #0065fc;
  color: ivory;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
  font-family: "raleway-semibold", arial, sans-serif;

}
#banniere-filtre {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#filtres{
  width: 100%;
  display: flex;
  flex-direction: column;
}
#bouton-filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "raleway-semibold", arial, sans-serif;
}
#bouton-filtres ul {
  width: 80%;
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#bouton-filtres li {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  padding-right: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  border-left-color: #deebff;
  font-weight: bold;
  cursor: pointer;
}
#bouton-filtres li:hover {
  background-color: #deebff;
  border-color: #deebff;
  transition: 0.7s;
  transform: scale(1.2);
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  width: 45px;
  padding: 16px 0px 15px 0px;
  margin-right: 15px;
  border-radius: 50%;
}
#dispo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-info {
  color: #0065fc;
  background-color: white;
  font-size: small;
  padding: 4px 6px;
  margin-right: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
#banniere-hebergements {
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
#hebergements {
  width: 63%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
#hebergements h2 {
  padding-left: 20px;
  font-size: x-large;
}
#hebergements ul {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.carte-hebergements {
  list-style-type: none;
  background-color: white;
  width: 29%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  cursor: pointer;
}
#hebergements li:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 0px 5px 5px #deebff;
}
#hebergements li img {
  width: 100%;
  height: 115px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  margin: auto;
}
#hebergements li h2 {
  margin: 0px 10px 8px;
  font-size: medium;
  font-weight: bolder;
  padding-left: 0;
}
#hebergements li h3 {
  margin: 0px 10px 8px;
  font-size: medium;
  font-weight: bolder;
}
.notes{
  display: flex;
  margin: 0px 10px 8px;
  font-size: medium;

}
.notes-bleu{
  color: #0065fc;
}
.notes-grise{
  color: #f2f2f2;
}
#plus {
  padding-left: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
#plus a:hover {
  color: #0065fc;
  transition-duration: 0.6s;
  font-size: x-large;
}
aside {
  width: 35%;
  background-color: #f2f2f2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#populaire {
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  font-weight: bold;
  font-size: x-large;
  text-align: justify;
}
#populaire h2{
  font-size: x-large;
}
#bloc-populaire ul {
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  list-style-type: none;
}
.carte-populaire a{
  background-color: white;
  width: 100%;
  padding: 5px;
  margin-bottom: 34.5px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#bloc-populaire img {
  width: 40%;
  height: 130px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  text-align: left;
}
.article-populaire {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.article-populaire h2 {
  margin: 2px 0px 8px;
  padding-left: 10px;
  font-size: large;
  font-weight: bolder;
  font-style: normal;
}
.article-populaire h3 {
  margin: 0px 0px 8px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: medium;
}
.carte-populaire a:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 0px 5px 5px #deebff;
}
#banniere-activites {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
<<<<<<< HEAD
#banniere-activites h2{
  font-size: x-large;
}
=======
>>>>>>> main
#activites {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#activites h2 {
  margin-left: 15px;
  font-size: medium;
}
#vieux-port {
  width: 23%;
  border-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#vieux-port img {
  width: 100%;
  height: 394px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#vieux-port:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
.colonne {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#pomegues {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#pomegues img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#pomegues:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
#frioul {
  width: 100%;
  height: 166px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#frioul img {
  width: 100%;
  height: 109px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#frioul:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
#calanques {
  width: 23%;
  height: 447px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#calanques img {
  width: 100%;
  height: 394px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#calanques:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
#la-garde {
  width: 100%;
  height: 195px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#la-garde img {
  width: 100%;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#la-garde:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
#longchamp {
  width: 100%;
  height: 210px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 16px 0px #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#longchamp img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#longchamp:hover {
  transform: scale(1.07);
  transition-duration: 0.8s;
  box-shadow: 0px 20px 20px 0px #deebff;
}
footer {
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 50px;
}
#banniere-footer {
  display: flex;
  justify-content: space-around;
}
footer ul {
  width: auto;
  list-style-type: none;
  padding-left: 0px;
}
footer li {
  padding-bottom: 20px;
}
footer a{
  font-family: "raleway-light", arial, sans-serif;
  cursor: pointer;
}
footer a:hover{
  color: #0065fc;
}
.infos-site {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  list-style-type: none;
  text-align: left;
<<<<<<< HEAD
  font-family: "raleway-semibold", arial, sans-serif;

=======
>>>>>>> main
}
@media screen and (max-width:970px) {
  #conteneur-principal{
    max-width: 970px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header {
    width: auto;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
  }
  header nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .menu {
    width: auto;
    display: flex;
    justify-content: space-around;
  }
  #conteneur-principal{
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px 10px 10px 10px;
  }
  #banniere-recherche{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #filtres{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bouton-filtres {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bouton-filtres ul{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #banniere-hebergements{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  aside {
    width: 100%;
  }
  #hebergements{
    margin-top: 20px;
    width: 100%;
  }
  .carte-hebergements{
    width: 45%;

  }
  #banniere-footer{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width:500px){
  #conteneur-principal{
    max-width: 500px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header {
    width: auto;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #banniere-recherche{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
  }
  #bouton-recherche{
    width: 100%;
  }
  #filtres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #bouton-filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #bouton-filtres ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  #banniere-hebergements{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  aside {
    width: 100%;
  }
  #hebergements{
    margin-top: 20px;
    width: 100%;
    background-color: unset;
    display: flex;
    padding: 0px;
  }
  .carte-hebergements{
    width: 100%;
  }
  #activités {
    width: 100%;
    display: flex;
    flex-direction: column;
  }  
  #vieux-port {
    height: 24%;
    width: 100%;
    margin-bottom: 20px;
  }
  #pomegues {
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
  }
  #frioul {
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
  }
  #calanques {
    height: 23%;
    width: 100%;
    margin-bottom: 20px;
  }
  #la-garde {
    height: 23%;
    width: 100%;
    margin-bottom: 20px;
  }
  .colonne {
    height: 46%;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  #banniere-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}